# http://editorconfig.org
root = true

[*]
# Render real tab characters as 2 columns everywhere (GitHub honours this)
indent_style = tab
indent_size  = 2
tab_width    = 2

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.yml]
# YAML forbids tabs, so use spaces – still 2 wide
indent_style = space
indent_size  = 2
